<h1> Your current cart: </h1>
<ul>
  <% @cart.each do |c| %>
    <li> <%= c %> </li><br>
  <% end %>
</ul>

<h3> Add another item to your cart: </h3>
<br>
<%= form_tag products_path do %>
  <label>product</label><br>
  <%= text_field_tag 'product' %><br>
  <%= submit_tag "add to cart" %>
<% end %>

<%= form_tag posts_path do %>
  <label>Post title:</label><br>
  <%= text_field_tag :'post[title]' %><br>
 
  <label>Post description:</label><br>
  <%= text_area_tag :'post[description]' %><br>
 
  <%= submit_tag "Submit Post" %>
<% end %>
